<mat-toolbar class="page-section-header ">
  <h2> Project Details </h2>
</mat-toolbar>



<mat-card style="padding: 0">



  <!-- <div class="row"   >
        <app-taskdetail [id]='myVal'></app-taskdetail>
      </div> -->


  <div class="col-lg-12" style="padding: 0">
    <div class="card graybg">
      <div class="row no-gutters">
        <div class="col-lg-5" style="background: rgb(240, 240, 240);padding: 15px">
          <div class="card-block">

            <div class="row">
              <div class="col-md-5">
                <h4 style="display: inline;">Open Tasks </h4> &nbsp;&nbsp;
                <!-- <i (click)='all()' class="<i class="far fa-list-alt"></i>" style="cursor: pointer;"></i> -->
              </div>
              <div class="col-md-5">
                <mat-form-field>
                  <mat-select (change)='onSearch()' [(ngModel)]="selectedStatusId" placeholder="Search">
                    <mat-option *ngFor="let ct of clientTypeList" [value]="ct.id">
                      {{ ct.title }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <button (click)='all()' style="background-color: #c82c00" mat-mini-fab color="primary"><i
                    class="fas fa-th-list"></i></button>
              </div>
            </div>



            <div *ngIf="showLoader" class="row">
              <mat-spinner [color]="color" class=" loaderclass"></mat-spinner>
            </div>
            <div>

              <div class="whitebg">
                <div class="card-block" style="  display: block; width: 100%; max-height:960px; overflow-y: scroll;">
                  <h5 style="color:#c82c00">{{taskHeader}}</h5>
                  <div class="opentask" *ngFor="let task of tasksList; let i = index" style="cursor: pointer"
                    (click)='openClickOnSpecificTask(task.id)'>

                    <div class="opentask-detail clearfix">
                      <div class="opentask-Summary">
                        <div class="projectname">
                          <a (click)="taskEdit(task.id)" style="cursor: pointer;">{{task.taskName}}</a>
                          <div class="pull-right" style="cursor: pointer">
                            {{task.assignee}}
                          </div>
                        </div>

                        <!-- *ngIf='showTaskDetailComponent' -->

                        <!-- <app-taskdetail [id]='myVal'></app-taskdetail> -->





                        <div class="taskname" style="cursor: pointer">
                          {{task.productName}}
                        </div>
                      </div>
                      <span style="cursor: pointer;" [ngClass]="decideStatus(task.status)" class="pull-right">
                        {{task.status}} &nbsp; </span>
                    </div>

                    <div class="duration clearfix">
                      <div class="time">
                        <span style="margin: 0px" matTooltip="Target Date">TD:
                          <span *ngIf="task.targetDate==='0001-01-01T00:00:00'; else other_content"
                            class="text_gray">Not Mentioned </span>
                          <ng-template #other_content>{{task.targetDate| date: "d/MM/y"}} </ng-template>
                        </span>

                      </div>
                      <div class="priority">Priority:
                        <span matTooltip="High Priority" *ngIf="task.priority === 'High'"
                          style="color:red; padding-right: 15px;"><b>H</b></span>
                        <span matTooltip="Medium Priority" *ngIf="task.priority === 'Medium'"
                          style="color:#5de95d; padding-right: 14px;"><b>M</b></span>
                        <span matTooltip="Low Priority" *ngIf="task.priority === 'Low'"
                          style="color:#256dd8; padding-right: 17px;"><b>L</b></span>
                      </div>
                    </div><br>




                    <div class="row">
                      <div class="col-md-12" style="background: #def1ff">Depends On :
                        <span *ngIf="task.parentName !== null; then testTag  else NextTag"> {{task.parentName}} </span>
                        <ng-template #NextTag>No Task</ng-template>
                        <ng-template #testTag>{{task.parentName}}</ng-template>
                      </div>


                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-7 whitebg border_left" style="padding: 15px">
          <div class="card-block">
            <div class="detailouter clearfix">

              <div class="title-module clearfix">
                <div class="title">
                  <h2 class="text_black">{{header}}</h2>
                </div>
                <div class="command">
                  <button class="pull-right" mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="projectEdit()">
                      <span class="actionmenu_list">
                        <mat-icon>mode_edit</mat-icon>
                        <span>Edit</span>
                      </span>
                    </button>
                    <button mat-menu-item (click)="projectStatus(2)">
                      <span class="actionmenu_list">
                        <mat-icon>done</mat-icon>
                        <span>In Progress</span>
                      </span>
                    </button>

                    <button mat-menu-item (click)="projectStatus(3)">
                      <span class="actionmenu_list">
                        <mat-icon>watch_later</mat-icon>
                        <span>Delay</span>
                      </span>
                    </button>

                    <button mat-menu-item (click)="projectStatus(4)">
                      <span class="actionmenu_list">
                        <mat-icon>perm_data_setting</mat-icon>
                        <span>Completed</span>
                      </span>
                    </button>
                  </mat-menu>
                </div>
              </div>
              <div class="detail">
                <div class="row">
                  <div class=" col-sm-6 col-md-6 col-lg-3 mb-3">
                    <span>Client</span>
                    <br> {{clientName}}
                  </div>
                  <div class=" col-sm-6 col-md-6 col-lg-3 mb-3">
                    <span>Start Date</span>
                    <br> {{startDate| date: "d/MM/y"}} </div>
                  <div class=" col-sm-6 col-md-6 col-lg-3 mb-3">
                    <span>Target Date</span>
                    <br> {{targetDate| date: "d/MM/y"}} </div>
                  <div class=" col-sm-6 col-md-6 col-lg-3 mb-3">
                    <span>Completion</span>
                    <br> {{completionDate| date: "d/MM/y"}} </div>
                </div>
              </div>
            </div>
            <!-- </div> -->
          </div>



          <div class="card-block"><br>
            <h4 class="page_title_1">Description</h4>
            <p [innerHTML]="description">

            </p>
          </div> <br>









          <div class="card-block">
            <br>
            <h4 class="page_title_1">Attachments</h4>
            <div class="attachments">
              <div class="row">
                <div class="col-md-6" *ngFor="let attachment of attachmentList">
                  <div class="row issue_attachments">
                    <div class="col-md-4">
                      <img src="{{getAttachmentPath(attachment)}}"
                        style=" border: 1px solid lightgray;  width: 80px;height: 80px;" alt="">
                    </div>
                    <div class="col-md-8">
                      <div class="row">
                        <p style="font-size: 12px">
                          <a href="{{getAttachmentPath(attachment)}}" download>{{attachment.fileName}}</a>
                          <span> {{attachment.dT_Created | date:"dd/MM/yyyy hh:mm:ss a"}}</span>
                        </p>
                      </div>

                    </div>
                  </div>
                  <br>

                </div>
              </div>
            </div>
          </div>

          <br><br>
          <h4 class="page_title_1">Comments</h4>
          <div class="row">
            <div class="col-lg-12">
              <div class="col-md-12 ">
                <p-editor [(ngModel)]="parentComment" placeholder="Write Description Here" [style]="{'height':'150px'}">
                </p-editor>
              </div>


              <div class="col-lg-10 offset-2">
                <div class="button-row">
                  <button style="background-color: red" mat-raised-button color="primary" class="pull-right"
                    (click)="saveComment(0)">Comment</button>
                </div>
              </div>
              <br><br><br><br>
              <div class="col-lg-12">
                <div *ngFor="let i of CommentList">
                  <div class="comment_parent">



                    <!-- <div class="row">
                      <div class="col-6">
                        <span class="comment_header" [innerHTML]="i.preview"> </span>
                      </div>
                      <div class="col-6">
                        <span style="padding-top: 5px" class="pull-right">
                          <strong>{{i.userName}}</strong>
                          <span>{{i.dT_Created}}</span>
                        </span>
                      </div>
                    </div>
                    <mat-form-field>
                      <input matInput [(ngModel)]="childComment" placeholder="Please Reply Here">
                    </mat-form-field>
                    <button style="background-color: red; min-width: 50px; line-height: 24px;" mat-raised-button color="primary"
                      (click)="saveComment(i.id)" class="pull-right">Reply</button>
                  </div>
                  <br><br>
                  <div class="col-lg-10 offset-2" *ngIf="i.issueComment.length > 0">
                    <div *ngFor="let itemChild of i.issueComment;">
                      <div style="padding-top: 5px">
                        <strong>{{itemChild.userName}}</strong>
                        <span>{{itemChild.dT_Created| date:"dd/MM/yyyy hh:mm:ss a"}}</span>
                      </div>
                      <span [innerHTML]="itemChild.preview"></span>
                      <hr>
                    </div>
                  </div> -->

                    <!--........         Parent      -->
                    <div class="row">
                      <div class="col-7">
                        <span class="comment_header" [innerHTML]="i.preview"> </span>
                      </div>
                      <div class="col-1">

                      </div>
                      <div class="col-4">
                        <span style="padding-top: 5px" class="pull-right">
                          <span style="font-size: 11px">{{i.userName}}</span><br>
                          <span style="font-size: 11px">{{i.dT_Created | date:"d/MM/y hh:mm"}}</span> &nbsp;
                          <mat-icon (click)="deleteComment(i.id)" class="text_red mat-icon material-icons pull-right"
                            role="img" style="font-size:13px;cursor:pointer" aria-hidden="true"><i
                              style=" font-size: 13px;" class="material-icons">
                              delete
                            </i></mat-icon>
                        </span>
                      </div>
                    </div>
                    <div class="row">

                      <div class="col-md-8">
                        <mat-form-field class="removetopmargin">
                          <input matInput [(ngModel)]="childComment" placeholder="Reply here ..">
                        </mat-form-field>
                      </div>

                      <div class="col-md-4">
                        <br>
                        <button style="background-color: #c82c00b8; min-width: 50px; line-height: 24px;" mat-mini-fab
                          color="primary" (click)="saveComment(i.id)" class="pull-right">Reply</button>
                      </div>
                    </div>
                  </div>
                  <br><br>

                  <!--........         Child      -->
                  <div class="col-lg-10 offset-2" *ngIf="i.issueComment.length > 0">
                    <div *ngFor="let itemChild of i.issueComment;">
                      <div class="row">
                        <div class="col-9">
                          <span style="font-weight: 100; color: #973636; font-size: 13px"[innerHTML]="itemChild.preview"></span>
                        </div>

                        <div class="col-3" class="pull-right" style="font-size: 12px">
                          <span style="font-size: 11px">{{itemChild.userName}}</span><br>
                          <span style="font-size: 10px">{{itemChild.dT_Created | date:"d/MM/y hh:mm"}}</span> &nbsp;
                          <mat-icon (click)="deleteComment(itemChild.id)"
                            class="text_red mat-icon material-icons pull-right" role="img"
                            style="font-size:13px;cursor:pointer" aria-hidden="true"><i style=" font-size: 13px;"
                              class="material-icons">
                              delete
                            </i></mat-icon>

                        </div>

                      </div>
                      <hr>
                    </div>
                  </div>


                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


</mat-card>



<div *ngIf='showDetailComponent'>
  <app-taskdetail (eventToCallParentComponentMethod)="getTasks()" [id]='taskIdOfParentComponent'></app-taskdetail>
</div> 


<!--...............................................                  Task Detail  Dialogue                     .................................-->
<!-- <p-dialog [draggable]=false [modal]="true" [positionTop]='50' [(visible)]="showTaskItemPopUp" [width]="800"
  [contentStyle]="{'max-height':'700px' }">


 <p-header><strong style="color: #c82c00">{{taskNameOnPopupHeader}}</strong>  &nbsp; &nbsp;
      <mat-icon (click)="edit()" class="text_red mat-icon material-icons" role="img" style="font-size:18px;cursor:pointer" aria-hidden="true">edit</mat-icon>
      <mat-icon (click)="delete()" class="text_red mat-icon material-icons" role="img" style="font-size:10px;cursor:pointer" aria-hidden="true"><i style=" font-size: 19px;" class="material-icons">
        delete
        </i></mat-icon>
    </p-header>   -->



    










<!-- </p-dialog> -->
<!-- <app-taskdetail></app-taskdetail> -->