<div *ngIf="loggedIn" fxFlexFill fxLayout="column">
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-3">
        <div id="logo"> <a href="Dashboard.html"><img src="./assets/images/logo.png" alt="informaticlabs"></a> </div>
      </div>
      <div class="col-md-12 col-lg-9">
        <div id="top_right">
          <!-- <div class="topright_logout"><a >Logout<i class="icon-off"></i></a></div> -->



          <div fxShow="false" fxHide.gt-sm="false">
            <button mat-button class="txt-white">
              <span> {{country}} {{ currentTime | async | date:'d/M/yy hh:mm:ss' }}</span>
            </button>
            <!-- <md-divider></md-divider> -->
            <button mat-icon-button mat-button [mat-menu-trigger-for]="notiPanel" class="txt-white">
              <mat-icon class="md-24" aria-label="Notifications">notifications_none</mat-icon>
            </button>
            <mat-menu #notiPanel="matMenu" yPosition="below" [overlapTrigger]="false">
              <div class="actionmenu_list" style="border-bottom: solid 1px #777777;">
                <div style="margin-left:15px;">
                  <h5>NOTIFICATIONS
                    <span class="new badge">5</span>
                  </h5>
                </div>
              </div>
              <button mat-menu-item>
                <span class="actionmenu_list">
                  <mat-icon>email</mat-icon>
                  <span>Messages (5)</span>
                </span>
              </button>
            </mat-menu>
            <!-- <md-divider></md-divider> -->
            <button mat-button [mat-menu-trigger-for]="user" style="margin-right: 20px;" class="txt-white">
              <mat-icon class="md-24" aria-label="User">account_circle</mat-icon>&nbsp;
              <span>{{displayName}}</span>
              <mat-icon class="insideBtn">arrow_drop_down</mat-icon>
            </button>
            <mat-menu #user="matMenu" yPosition="below" [overlapTrigger]="false">
              <button (click)="logout()" mat-menu-item>
                <span class="actionmenu_list">
                  <mat-icon>power_settings_new</mat-icon>
                  <span>Logout</span>
                </span>
              </button>
            </mat-menu>
          </div>


          <!-- <div class="topright_lang">

              <div class="row">
                  <div class="col-lg-9">
                    </div>
                <div class="col-lg-3">
                  <mat-select  >
                    <mat-option  selected="selected">English </mat-option>
                    <mat-option  selected="selected">Dutch </mat-option>
                  </mat-select>
              </div>
              </div>
          </div>
          <div class="topleft_menu"><a id="phone_menu_btn"><i class="icon-reorder"></i></a></div> -->


        </div>
      </div>
    </div>
  </div>


  <div class="topnavi topnavi_close">
    <div class="container">
      <ul class="nav">
        <li class="nav-item active"> <a class="nav-link"routerLink="home"><i class="icon-desktop"></i> Dashboard</a> </li>
        <li class="nav-item"> <a class="nav-link" routerLink="projects"><i class="icon-folder-open"></i> Projects</a> </li>
        <li class="nav-item"> <a class="nav-link" ><i class="icon-file-text"></i> Tasks</a>
          <ul>
            <li><a routerLink="tasks"><i class="icon-double-angle-right"></i> All Task</a></li>
            <li><a routerLink="tasks/mine"><i class="icon-double-angle-right"></i> My Task</a></li>
          </ul>
        </li>
        <!-- <li class="nav-item"> <a class="nav-link"routerLink="users/user"><i class="icon-group"></i> Users</a> </li> -->
        <li *ngIf='showHideSettings' class="nav-item"> <a class="nav-link"  routerLink="settings/"><i class="icon-cogs"></i> Settings</a> </li>
        <!-- <li class="nav-item" (click)= 'addProject()'> <a class="nav-link navi_btn_create"><i class="icon-edit"></i> Create</a> </li> -->
        <li class="nav-item"><button  routerLink="projects/add" class="nav-link navi_btn_create" >Add Project</button> </li>
      </ul>
    </div>
  </div>

</header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
      <ng2-toasty  [position]="'top-right'"></ng2-toasty>
      <p-confirmDialog></p-confirmDialog>
    </div>



  </div>
</div>
 


</div>


