<p>
  binding works!
</p>


<!-- <h2 [innerText]='good'></h2> -->

<button class="btn btn-primary" [disabled]=disbtn> check </button>

<br>

<button [style.color]="colorbtn"> Restart</button> <br>
<button [style.background-color]="'green'"> Yes</button>



<br>
<button class="red" [class]="applyTheseCssClasses"> Shutdown</button>



<br>

<button mat-raised-button color="primary" [class]='' class="pull-right color">Save</button>

<div class="container">
  <button [style.color]="'green'"> Shutdown</button> <br><br>
  <button style="font-size: 30px" [style.color]="myColor? 'green' :'red'"> Shutdown</button>
  <button style="color: blue" [ngStyle]="addMyStyles()"> OK</button>
</div>


<h2>{{ PageHeader ? 'Show' : 'No Header'}} Detail</h2>
<br><br>
<h1 *ngIf='!stdList || stdList.length===0'>Doenot exist </h1>

<ng-container *ngFor="let a of myList">
  <ul *ngIf="a.gender === 'male'">
    <li>{{a.name}}</li>
  </ul>
</ng-container>