<p>
  binding works!
</p>


<!-- <h2 [innerText]='good'></h2> -->

<button class="btn btn-primary" [disabled]=disbtn> check </button>

<br>

<button [style.color]="colorbtn"> Restart</button> <br>
<button [style.background-color]="'green'"> Yes</button>



<br>
<button class="red" [class]="applyTheseCssClasses"> Shutdown</button>



<br>

<button mat-raised-button color="primary" [class]='' class="pull-right color">Save</button>

<div class="container">
  <button class="color" [ngClass]="addMyClasses()"> Shutdown2</button>
</div>