<nav *ngIf="true" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ml-auto active">
        <a class="nav-link ml-auto" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ml-auto active">
        <a class="nav-link ml-auto" routerLink="/controls">Components <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item ml-auto active">
        <a class="nav-link ml-auto" routerLink="extra">All Controls <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item ml-auto active">
        <a class="nav-link ml-auto" routerLink="first">First <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item ml-auto active">
        <a class="nav-link ml-auto" routerLink="second">Second <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item ml-auto active">
        <a class="nav-link ml-auto" routerLink="third">Third <span class="sr-only">(current)</span></a>
      </li>


      <li class="nav-item ml-auto active">
        <a class="nav-link ml-auto" routerLink="forth">Forth <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item ml-auto active">
        <a class="nav-link ml-auto" routerLink="parent">Parent <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item ml-auto active">
        <a class="nav-link ml-auto" routerLink="child">Child <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item ml-auto active">
        <a class="nav-link ml-auto" routerLink="send-to-app">Send to app <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item ml-auto active">
        <a class="nav-link ml-auto" routerLink="css">CSS <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item ml-auto active">
        <a class="nav-link ml-auto" routerLink="final">Final <span class="sr-only">(current)</span></a>
      </li>


      <li class="nav-item dropdown ml-auto active">
        <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item ml-auto pull-right">
        <a class="nav-link ml-auto">Naveed Ullah</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>



    </ul>
  </div>
</nav>



<div class="container">





  <router-outlet></router-outlet>

<!-- main app container -->
<div class="container text-center my-3">
  <div *ngFor="let message of messages" class="alert alert-sm alert-info">{{message.text}}</div>
</div>



</div>