.width2{
    width: 70px;
    background-color: blueviolet;
}


.ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight {
    background-color: #31a2b8;
    color: #FFFFFF;
}

.ui-table .ui-table-tbody > tr.ui-state-highlight {
    background-color: #31a2b8;
    color: #FFFFFF;
}

/* ui-dialog-titlebar{
    background-clip: red
}

.ui-widget-header {
    background: red;
    border: 0px;
} */
/* .ui-widget-header{background-color: red} */

.comment_parent {
    display: grid;
    width: 100%;
    padding: 10px;
    background-color: #eee;
    border: 1px solid #d7d6d6;
}


.comment_header {
    color:#c80002;
    font-size : 18px;
}


.clickable_task{
    cursor: pointer;
     color: #2674b7;
      border-bottom:#2674b7 solid 1px;
}

.no_task{
     color: #000000;
}


.onhover:hover {
    background:#6c757d21;
}



.removetopmargin {
    margin-top: 0px;
}


span.step {
    background: #cccccc;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.8em;
    margin-right: 5px;
    text-align: center;
    width: 2.4em; 
    background-color: #4fbce8;
  }
