<p>
  images works!
</p>




<div class="container">
<div class="row"> 
<div class="col-lg-12"> 


<!-- 

    <p-fileUpload name="myfile[]" #fileInput [url]="AttachmentPathToUpload" accept="image/*,.pdf,.txt,.xls,.csv,.xlsx,.doc,.docx,.ppt,.pptx"
    (onUpload)="onUpload(request)"
    
    auto="auto"
      (onBeforeSend)="beforeUpload(request)" (onError)="uploadError($event)"
      multiple="multiple" maxFileSize="5000000">

      <ng-template pTemplate="toolbar">
        <mat-progress-bar mode="query" color="warn" *ngIf="uploadProgressBar"></mat-progress-bar>
      </ng-template>
      
      <ng-template pTemplate="content">
        <ul *ngIf="uploadedFiles.length">
          <li *ngFor="let file of uploadedFiles">{{file.fileName}}</li>
        </ul>
      </ng-template>
    </p-fileUpload> -->




</div>
</div>
</div>