/* td {
    border: none;
    color: rgb(0, 0, 0);
    color: pink;
    border-collapse:collapse;
     border : 0;
     border-style: none;
}

table { border-collapse:collapse ; border-style: none;}

.ui-table .ui-table-tbody > tr > td */

/*
.ui-datatable.borderless thead th,
.ui-datatable.borderless tbody,
.ui-datatable.borderless tbody tr,
.ui-datatable.borderless tbody td {
    border-style: none;
}


.borderless .ui-state-default,
.borderless .ui-widget-content .ui-state-default,
.borderless .ui-widget-header .ui-state-default {
    border: none !important;
} */


.ui-table * {
    border : 0px !important;
}

.abc{
    border: none
}

#def{
    border: none
}


.Error {
    background-color: #d9534f;
    border: 1px solid #d9534f;
}
.Warning{
    background-color: #ed9c28;
    border: 1px solid #ed9c28;
}
.Information{
    width: 8px;
    height: 8px;

    background-color: #39b3d7;
    border: 1px solid #39b3d7;
}
.Success{
    background-color: #0bf54e;
    border: 1px solid #0bf54e;
}



.comment_parent {
    display: grid;
    width: 90%;
    padding: 10px;
    background-color: #eee;
    border: 1px solid #d7d6d6;
}


.comment_header {
    color: #800000;
    font-size : 15px;
}


.clickable_task{
    cursor: pointer;
     color: #2674b7;
      border-bottom:#2674b7 solid 1px;
}

.no_task{
     color: #000000;
}


.onhover:hover {
    background:#6c757d21;
}


.removetopmargin {
    margin-top: 0px;
}


span.step {
    background: #cccccc;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.8em;
    margin-right: 5px;
    text-align: center;
    width: 2.4em; 
    background-color: #4fbce8;
  }




  .circle {
    border: 0.1em solid grey;
    border-radius: 100%;
    height: 2em;
    width: 2em;
    text-align: center;
}

.circle span {
	margin-top: 0.10em;
    font-size: 1.5em;
    font-weight: bold;
    font-family: sans-serif;
    color: grey;
}
  
