/* color changed from #5cb85c to #4ba979  by Nav   */
/* .md-primary,
.mat-raised-button.mat-primary {
	background-color: #17a2b8 !important;
}

.md-primary:hover,
.mat-raised-button.mat-primary:hover {
	background-color: #17a2b8!important;
}






.ui-table .ui-table-tbody  .tr  .td{
    border: none;
} */

