.card-body{
    box-shadow: 3px 3px 7px 0px #cccccc;
}

i.material-icons.pink.font-large-2.float-xs-right {
    color: #c80002;
    font-size: 40px;
    padding-top: 7px;
}

i.material-icons.teal.font-large-2.float-xs-right {
    color: #c80002;
    font-size: 40px;
    padding-top: 7px;
}

i.material-icons.deep-orange.font-large-2.float-xs-right {
    color: #c80002;
    font-size: 40px;
    padding-top: 7px;
}

i.material-icons.cyan.font-large-2.float-xs-right {
    color: #c80002;
    font-size: 40px;
    padding-top: 7px;
}


h3, .h3 {
    font-size: 30px;
}


.loaderclass {
    width: 100px;
    height: 100px;
    margin-top: 142px;
    position: absolute;
    margin-left: 33%;
    z-index: 1;
    }


    .clickable_task{
        cursor: pointer;
         color: #2674b7;
          border-bottom:#2674b7 solid 1px;
    }
    
    .no_task{
         color: #000000;
    }

    
.comment_parent {
    display: grid;
    width: 100%;
    padding: 10px;
    background-color: #eee;
    border: 1px solid #d7d6d6;
}


.comment_header {
    color:#c80002;
    font-size : 18px;
}


 
.onhover:hover {
    background:#6c757d21;
}


.removetopmargin {
    margin-top: 0px;
}



span.step {
    background: #cccccc;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.8em;
    margin-right: 5px;
    text-align: center;
    width: 2.4em; 
    background-color: #4fbce8;
  }
