<p>child works!</p>

age: {{ age | json }}
<!-- <input type="number" [(ngModel)]="age"> -->
<button (click)="increaseAge()">child age increase</button>
<button (click)="ageClear()">child age clear</button>

<hr>



<!-- ID : {{ id }} Name : {{ name }}

		<ng-template let-a let-id>
			<span> Id: {{ id }}</span>
			<span>{{ a }}</span> <br />
		</ng-template> -->

<!-- Dashboard Component Template -->
<!-- <div *ngFor="let widget of dashboardWidgets; let index = index">
			<ng-container *ngTemplateOutlet="widget?.template; context: { $implicit: widget.data, index: index }"></ng-container>
		</div>


		<ng-template #temperatureWidget let-data let-index="index">
			<div>
				<p>Widget {{ index + 1 }}</p>
				<p>Temperature: {{ data.temperature }}</p>

			</div>
		</ng-template>

		<ng-template #stockWidget let-data let-index="index">
			<div>
				<p>Widget {{ index + 1 }}</p>
				<p>Stock Symbol: {{ data.symbol }}</p>

			</div>
		</ng-template>

		<ng-template #currencyWidget let-data let-index="index">
			<div>
				<p>Widget {{ index + 1 }}</p>
				<p>Currency Code: {{ data.currencyCode }}</p>

			</div>
		</ng-template>

		<ng-template #newsWidget let-data let-index="index">
			<div>
				<p>Widget {{ index + 1 }}</p>
				<p>News Headline: {{ data.headline }}</p>

			</div>
		</ng-template>
		 -->