.issue_attachments {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.issue_attachments button {
  display: none;
  position: absolute;
  top: 0;
  left:  0;
  width: 25px;
  height: 25px;
  background-color: #d9534f;
  color: #fff;
  padding-top: 6px;
}

.issue_attachments:hover button {
 display: inline-block;
}

.issue_attachments mat-icon {
  font-size: 16px;
  line-height: 10px;
}

.issue_attachments p {
 display: inline-block;
}

.issue_attachments p span {
 display: block;
 font-size: 9px;
}




.md-primary,
.mat-raised-button.mat-primary {
	background-color: #17a2b8 !important;
}

.md-primary:hover,
.mat-raised-button.mat-primary:hover {
	background-color: #17a2b8!important;
}


/* Important */


.radio-button {
  padding-left: 89px;
}


.loaderclass {
  width: 100px;
  height: 100px;
  margin-top: 230px;
  position: absolute;
  margin-left: 48%;
  z-index: 1;
  }

