<mat-toolbar class="page-section-header">
  <h2>Add Setting</h2>
</mat-toolbar>




<form [formGroup]='formGroup' (ngSubmit)="save(formGroup.value)">
  <mat-card>
    <div class="panel panel-default">
      <div class="panel-body">

          <div *ngIf="showLoader" class="row">
              <mat-spinner [color]="color" class=" loaderclass"></mat-spinner>
              </div>
              <div>





        <div class="row">
          <div class="col-md-12">
            <div class="row">


                <div style="max-height: 50px" class="col-lg-9">
                    <mat-form-field>
                      <input formControlName="Name" matInput placeholder="Task Name">
                    </mat-form-field>
                  </div>



              <div class=" col-lg-3 ">
                <mat-form-field>
                  <mat-select formControlName="PortalId" (change)="onPortalChange()" placeholder="Select Portal" name="portal">
                    <mat-option *ngFor="let portal of portalList" [value]="portal.id">
                      {{portal.countryName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class=" col-lg-4">
                <mat-form-field>
                  <mat-select formControlName="ProductId" (change)='onProductChange()' placeholder="Select Product">
                    <mat-option *ngFor="let product of productList" [value]="product.id">
                      {{ product.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>




              <div class=" col-lg-4">
                <mat-form-field>
                  <mat-select formControlName="AssignedToId" placeholder="Select Assignee">
                    <mat-option *ngFor="let assign of AssignToList" [value]="assign.id">
                      {{assign.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>




              <div class=" col-lg-4">
                <mat-form-field>
                  <mat-select formControlName="PriorityId" placeholder="Select Prority">
                    <mat-option *ngFor="let priority of priorityList" [value]="priority.id">
                      {{ priority.title }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <!-- [selected]="dependentList.id == 'false'" -->
              <div class="col-md-4">
                <mat-form-field>
                <mat-select   placeholder="Dependent"  (change)='onYesOrNoChange()' formControlName="selectedYesOrNot">
                <mat-option *ngFor="let ct of dependentList" [value]="ct.id">
                {{ ct.title }}
                </mat-option>
                </mat-select>
                </mat-form-field>
                </div>
      
      
      
                <div class="col-md-4" *ngIf='showDependent'>
                  <mat-form-field>
                  <mat-select   placeholder="Select Task" formControlName = "ParentId">
                  <mat-option *ngFor="let ct of taskList" [value]="ct.id">
                  {{ ct.name }}
                  </mat-option>
                  </mat-select>
                  </mat-form-field>
                  </div>


                      <!-- <br><br><br><br> -->
              <div class="col-md-12 ">
                <br><br>
                <p-editor  formControlName="Description" placeholder="Write Description Here" [style]="{'height':'135px'}"></p-editor>
              </div>


              <div class="col-md-12">
                <br><br>
                <strong class="text_red">Attachments:</strong>
                <hr>

                <div class="row" *ngIf="autoTaskId!==0">

                  <div class="col-md-4" *ngFor="let attachment of attachmentList">
                    <div class="issue_attachments">
                      <button mat-icon-button type="button" (click)="removeAttachment(attachment.id)">
                        <mat-icon style="margin-top: -15px;">close</mat-icon>
                      </button>
                      <img src="{{getAttachmentPath(attachment)}}" style="height: 114px;width: 114px;border: 1px solid lightgray;" alt="">
                      <p>
                        <a href="{{getAttachmentPath(attachment)}}" download>{{attachment.fileName}}</a>
                        <span> {{attachment.dT_Created | date:"dd/MM/yyyy hh:mm:ss a"}}</span>
                      </p>
                    </div>
                  </div>

                </div>
              </div>



              <div class="col-md-12">
                <p-fileUpload name="myfile[]" #fileInput [url]="uploadUrl" accept="image/*,.pdf,.txt,.xls,.csv,.xlsx,.doc,.docx,.ppt,.pptx"
                  auto="auto" (onUpload)="onUpload($event)" (onBeforeSend)="beforeUpload($event)" (onError)="uploadError($event)"
                  multiple="multiple" maxFileSize="25000000">
                  <ng-template pTemplate="toolbar">
                    <mat-progress-bar mode="query" color="warn" *ngIf="uploadProgress"></mat-progress-bar>
                  </ng-template>
                  <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                      <li *ngFor="let file of uploadedFiles">{{file.fileName}}</li>
                    </ul>
                  </ng-template>
                </p-fileUpload>
              </div>



            </div>
            <br>
            <div class="button-row">
              <button mat-raised-button color="primary" class="pull-right">Save</button>
              <button mat-raised-button (click)="cleanTextBoxes()" class="pull-right">Clear</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </mat-card>
</form>





<br><br>

