.issue_attachments {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.issue_attachments button {
  display: none;
  position: absolute;
  top: 0;
  left:  0;
  width: 25px;
  height: 25px;
  background-color: #d9534f;
  color: #fff;
  padding-top: 6px;
}

.issue_attachments:hover button {
 display: inline-block;
}

.issue_attachments mat-icon {
  font-size: 16px;
  line-height: 10px;
}

.issue_attachments p {
 display: inline-block;
}

.issue_attachments p span {
 display: block;
 font-size: 9px;
}


.loaderclass {
  width: 100px;
  height: 100px;
  margin-top: 9px;
  position: absolute;
  margin-left: 42%;
  z-index: 1;
  }























.custombar1 .ui-scrollpanel-wrapper {
  border-right: 9px solid #f4f4f4;
}

.custombar1 .ui-scrollpanel-bar {
  background-color: #1976d2;
  opacity: 1;
  transition: background-color .3s;
}
  
.custombar1 .ui-scrollpanel-bar:hover {
  background-color: #135ba1;
}
  
.custombar2 .ui-scrollpanel-wrapper {
  border-right: 9px solid #757575;
  border-bottom: 9px solid #757575;
}
  
.custombar2 .ui-scrollpanel-bar {
  background-color: #68C77D;
  border-radius: 0;
  opacity: 1;
  transition: background-color .3s;
}
  
.custombar2:hover .ui-scrollpanel-bar {
  background-color: #46A55A;
}
.ui-scrollpanel-bar-x{
  display: none !important;
  overflow-x: hidden!important;
}
