<p>css works!</p>

<span class=" green red ">
 There are 267 countries on our planet.
</span>



<span id="green">
 There are 267 countries on our planet.
</span>

<br>

<div class="green">
 <span class="pink"> Greenry is important for human health.</span> <br>
 <span> Greenry is important for human health.</span> <br>
 <p>hp has best laptops.</p>
 <div></div>
 <h5>iPhone has smooth UI.</h5>
 <h5>iPhone has smooth UI.</h5>
</div>

<div class="green">
 <h5 >I have dell machine. </h5>
 <h5 >I have dell machine. </h5>
</div>


<div> 
 <p >I have dell machin . </p>
</div>

<div>
 <span>what is my color</span>
 <span>what is my color</span>
 <h3>what is my color</h3>
</div>