




.comment_parent {
    display: grid;
    width: 100%;
    padding: 10px;
    background-color: #eee;
    border: 1px solid #d7d6d6;
}


.comment_header {
    color:#973636;
    font-size : 13px;
}


.clickable_task{
    cursor: pointer;
     color: #2674b7;
      border-bottom:#2674b7 solid 1px;
}

.no_task{
     color: #000000;
}


.onhover:hover {
    background:#6c757d21;
}



.removetopmargin {
    margin-top: 0px;
}



span.step {
    background: #cccccc;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.8em;
    margin-right: 5px;
    text-align: center;
    width: 2.4em; 
    background-color: #4fbce8;
  }
