

table, th, td {
    border: 1px solid black;
}


dl, ol, ul {
    margin-top: 0px;
    margin-bottom: 0rem;
    list-style: none;
}


h4{
    font-size: 18px;
    background-color: #39b3d7;
    color: white;

}



