<h4>Material</h4> 
<form>
  <div class="row">
    <div class="col-3">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Name">
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field>
        <mat-label>Favorite food</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-2">
      <button mat-raised-button color="primary">Save</button>
    </div>
  </div>
  </form>
<hr>
