.bor{
    border: 0px solid;
}




.positioned {
    position: static;
  }


  .positioned {
    position: absolute;
  }

  span.step {
    background: #cccccc;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.8em;
    margin-right: 5px;
    text-align: center;
    width: 2.4em; 
    background-color: #4fbce8;
  }